<div class="header">
  <div class="sideMenu"></div>
  <div class="logo"></div>
  <input type="text" placeholder="Búsqueda" />
  <div class="site">
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
    <a id="viewSite">Ver sitio</a>
  </div>
  <div class="bell"></div>
  <div class="id">
    <div class="picture"></div>
    <div class="user">
      <a class="userName">Andrés Suárez</a><br>
      <a class="userDescription">Administrador</a>
    </div>
    <div class="downArrow"></div>
  </div>
</div>
