.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  height: 2em;
}

#left{
  float: left;
  margin: 0.5em 3em 3em 5em;
  font: normal normal normal 12px/20px 'OpenSans';
}

#right{
  float: right;
  margin: 0.5em 5em 3em 3em;
  font: normal normal normal 12px/20px 'OpenSans';
}