<div class="onboardingContainer">
  <div class="square"></div>
  <div class="title">
    <a>Del campo Express</a><br />
    <a id="subtitle">URL de mi tienda en línea:</a><br />
    <a id="link" href="https://delcampoexpress.viveshops.co">https://delcampoexpress.viveshops.co</a>
  </div>
  <div class="right">
    <div class="bar">
      <a class="completeAccount"> Completa tu Cuenta (2/8)</a>
    </div>
    <div id="b">
      <a class="createProduct" (click)="openCreateProduct()" type="button">
        <span class="newProduct"> </span> Crear producto</a><br/><br/>
      <a class="gps"> <span></span> Definir cobertura envíos</a><br/><br/>
      <a class="card"> <span></span>Agregar método de pago</a><br/><br/>
      <a class="domain"> <span></span>Establecer dominio</a>
    </div>
    <div id="c">
      <a class="defineLogo"> <span></span> Definir logo y colores</a> <span class="check"></span><br/><br/>
      <a class="gift"> <span></span> Personalizar plantilla</a> <span class="check"></span><br/><br/>
      <a class="campaign"><span></span> Activar campañas</a><br/><br/>
      <a class="completeDocuments"> <span></span> Completar documentos</a>
    </div>
  </div>
  <div class="progress">
    <div class="animated-progress progress-blue">
      <span data-progress="45"></span>
    </div>
  </div>
</div>
