<div class="onboardingContainer">
  <div class="square"></div>
  <div class="title">
    <a>Del campo Express</a><br />
    <a id="subtitle">URL de mi tienda en línea:</a><br />
    <a id="link" href="https://delcampoexpress.viveshops.co">https://delcampoexpress.viveshops.co</a>
  </div>
  <div class="right">
    <div class="bar">
      <a class="completeAccount"> Completa tu Cuenta (OJO/8)</a>
    </div>
    <div id="b">
      <a class="createProduct">Crear producto</a><br>
      <a class="gps">Definir cobertura envíos</a><br>
      <a class="card">Agregar método de pago</a><br>
      <a class="domain">Establecer dominio</a>
    </div>
    <div id="c">
      <a class="defineLogo">Definir logo y colores</a><br>
      <a class="">Personalizar plantilla</a><br>
      <a class="campaign">Activar campañas</a><br>
      <a class="completeDocuments">Completar documentos</a>
    </div>
  </div>
</div>
